html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    font-size: large;
    color: black;
}

.header {
    background-color: lightgray;
    border-radius: 1pc;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    margin: 0.5%;
    margin-bottom: 1%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0%;
}

.nav a {
    padding: 10px 15px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 1pc;
    text-align: center;
    display: block;
    color: black;
}

/* Pseudo-class selector */
.nav a:hover {
    background-color: lightblue;
}

.content {
    display: flex;
    flex: 1; /* Allows to grow in size to fill the available space */
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5%;
    margin-top: 0%;
    margin-bottom: 1%;
}

.content .panel {
    background-color: lightgray;
    border-radius: 1pc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#middle {
    display: flex;
    flex: 1; /* Allows to grow in size (horisontally) */
    flex-direction: column;
    align-items: center;
    width: 50%; 
}

.middle .post {
    background-color: lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 1pc;
    padding: 0%;
}

.post img {
    width: 98%;
    margin: 1%;
    margin-bottom: 0%;
}

.post p {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: large;
}

.postheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    margin-bottom: 0%;
}

.postfooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1%;
    margin-top: 0%;
}

/* img is an immediate child of postheader or postfooter */
.postheader > img, .postfooter > img {
    border-radius: 1pc;
    padding: 0%;
    width: 6%;
    min-width: 20px;
    margin-left: 0%;
}

/* When the width of the screen is 500px or less */
@media (max-width: 500px) {
    .content .panel {
        display: none;
    }

    .middle .post {
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}

footer {
    background-color: lightgrey;
    border-radius: 1pc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    margin-top: 0%;
}

#profilepicture {
    width: 5%;
    min-width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 0.5%;
}

.homebutton {
    font-size: x-large;
    margin-right: 50px;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 50px;
}

.logininf {
    background-color:  lightgrey;
    border-radius: 1pc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
    font-size: larger;

}

.signup {
    font-size: larger;
    color: rgb(22, 167, 216);
}

.logininput {
    width: 80%;  /* login ja password kasti laius*/
    height: 25px;
    margin: 10px 0;  /* login ja password kasti vahe*/
    padding: 5px;
    font-size: large;
}

.loginbutton {
    background-color: rgb(22, 167, 216);
    color: white;
    width: 100px;
    height: 35px;
    font-style: bold;
    font-size: larger;
    margin-top: 10px;
}

.loginbutton:hover {
    background-color: lightgray;
}


