a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #646174;
}

.header {
    background-color: lightgray;
    border-radius: 1pc;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0%;
}

.nav a {
    padding: 10px 15px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 1pc;
    text-align: center;
    display: block;
    color: black;
}

/* Pseudo-class selector */
.nav a:hover {
    background-color: lightblue;
}

.content {
    display: flex;
    flex: 1; /*Allows to grow in size to fill the available space*/
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5%;
    margin-top: 0%;
    margin-bottom: 1%;
}

.content div {
    background-color: lightgray;
    border-radius: 1pc;
}

#rightpanel, #leftpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; 
}

footer {
    background-color: lightgrey;
    border-radius: 1pc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    margin-top: 0%;
}

#profilepicture {
    width: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
}

.homebutton {
    font-size: xx-large;
    margin-right: 50px;
}

.loginbox{


    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 50px;
}

.logininf
 {
    background-color:  lightgrey;
    border-radius: 1pc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
    font-size: larger;

}

.signup {
    font-size: larger;
    color: rgb(22, 167, 216);
}
.logininput {
    width: 80%;  /* login ja password kasti laius*/
    height: 25px;
    margin: 10px 0;  /* login ja password kasti vahe*/
    padding: 5px;
    font-size: large;
}

.loginbutton {
    background-color: rgb(22, 167, 216);
    color: white;
    width: 100px;
    height: 35px;
    font-style: bold;
    font-size: larger;
    margin-top: 10px;
}

.loginbutton:hover {
    background-color: lightgray;
}


